<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Access Denied</title>
	<link rel="stylesheet" href="css/stylemain.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
	<h1>403</h1>
</header>
<nav th:insert="layout.html :: nav"></nav>
<div style="text-align: center">
	<h1>An error has occured!</h1>
	<p style="font-size: 20px">You are unauthorized to view this page. Only trainers can access this site.</p>
</div>

</body>
</html>