<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
    <link rel="stylesheet" href="stylemain.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<header>
    <h1>Add new Event</h1>
</header>
<nav th:insert="planner.html :: nav">
</nav>
<!--<form th:action="@{/add_event}" method="post">
    <div><label> Event-Name: <input type="text" name="eventname" data-cy="eventname"/> </label></div>
    <div><input type="submit" value="Add Event" data-cy="addEventBtn2"></div>
</form>-->

<div class=" d-flex justify-content-center">
	<form th:action="@{/add_event}" th:object="${event}" method="post">
		<div class="btn-group-vertical" role="group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup">Event Name :</span>
			</div>
			<label> Event-Name: <input type="text" name="eventname" data-cy="eventname" th:field="*{name}"/> </label>
			<input class="btn btn-outline-dark" type="submit" value="Add Event" data-cy="addEventBtn2">
		</div>
		<!-- <div><input type="submit" value="Add Event" data-cy="addEventBtn2"></div>-->
	</form>
</div>
</body>
</html>