<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/stylemain.css">
    <link rel="stylesheet" href="css/stylecontact.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <h1>Skateplanner</h1>
</header>
<nav th:insert="layout.html :: nav">
</nav>
<box1>
<h2>Contacts Trainer</h2>
    <text> If you have any issues, feel free to contact us. </text>
   <div><img src="assets/james.jpg" width="150" height="200" alt="James" /></div>
    <table class="table table-sm table-dark.table-borderless">

        <tr>
            <th>James Wolf</th>
        </tr>
        <tr>  <th>jamesWolf@web.de</th>

        </tr>
        <tr>
            <th>0173 54672222</th>
        </tr>

    </table>
    <div><img src="assets/elih.jpg" width="150" height="200" alt="James" /></div>
    <table class="table table-sm table-dark.table-borderless">
        <tr>
            <th>Elih Sonnenschein</th>
        </tr>
        <tr>  <th>sonnenschein@gmail.com</th>

        </tr>
        <tr>
            <th>0152 34553222</th>
        </tr>
    </table>
</box1>
<box2>
<h2> Important Places</h2>
    <table class="table table-sm table-dark.table-borderless">
        <thead>
        <th>sports hall A</th>
        </thead>
        <tr>
            <th>Nuthestr. 66</th>
        </tr>
        <tr>  <th>14565 Berlin</th>

        </tr>
    </table>
    <table class="table table-sm table-dark.table-borderless">

        <tr>
            <th>Sports Hall B</th>
        </tr>
        <tr>  <th>Treskowalle 33</th>

        </tr>
        <tr>
            <th>15567 Ludwigsfelde</th>
        </tr>

    </table>

    <table class="table table-sm table-dark.table-borderless">

        <tr>
            <th>Sports Hall C</th>
        </tr>
        <tr>  <th>Jannowitzstr. 76</th>

        </tr>
        <tr>
            <th>16765 Thyrow</th>
        </tr>

    </table>
</box2>
</body>
</html>