<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planner</title>
    <link rel="stylesheet" href="stylemain.css">
    <link rel="stylesheet" href="styleplanner.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <h1>Skateplanner</h1>
</header>
<nav th:insert="layout.html :: nav"></nav>

<div class="d-flex justify-content-center">
    <button type="button" onclick="location.href = 'add_event'" class="btn btn-info btn-lg " data-cy="addEventBtn"> new Event </button>
</div>
<table>
	<thead>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Type</th>
		<th>Description</th>
	</tr>
	</thead>
	<th:block th:each="event : ${events}">
		<tr>
			<td th:text="*{event.id}"/>
			<td th:text="*{event.name}"/>
			<td th:text="*{event.type}"/>
			<td th:text="*{event.description}"/>
		</tr>
	</th:block>
</table>

</body>
</html>