<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planner</title>
    <link rel="stylesheet" href="styleplanner.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <h1>Skateplanner</h1>
</header>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="container d-flex justify-content-between">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a href="about_us">About us</a></li>
            <li class="nav-item"><a tabindex="0" aria-current="page">Planner</a></li>
            <li class="nav-item"><a href="contact">Contact</a></li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </div>
</nav>

    <h2>Welcome Admin.</h2>

<div class="input-group mb-3">

    <form th:action="@{/planner}" th:object="${event}" method="post">
        <input id="name" th:field="*{name}" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">add</button>
        </div>
        <p th:each="error: ${#fields.errors('name')}"
           th:text="${error}">Validation error</p>
    </form>
</div>
<div>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.id}">Id</td>
            <td th:text="${event.name}">Name</td>
        </tr>
    </th:block>
</div>

</body>
</html>