<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Skateplanner - Register</title>
	<link rel="stylesheet" href="stylelogin.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/register}" th:object="${user}" method="post">
	<p th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">
		Validation error
	</p>
	<div>
		<label>
			Username:
			<input id="username" th:field="*{username}"/>
		</label>
		<p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>
	</div>
	<div>
		<label>
			E-Mail Address:
			<input id="email" th:field="*{email}"/>
		</label>
		<p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>
	</div>
	<div>
		<label>
			Password:
			<input id="password" type=password th:field="*{password}"/>
		</label>
	</div>
	<div>
		<label>
			Confirm Password:
			<input id="confirmPassword" type=password th:field="*{confirmPassword}"/>
		</label>
		<p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>
	</div>
	<div>
		<button type="submit">Register</button>
		<span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
	</div>
</form>
</body>
</html>